
<div class="card">
    <div class="card-body">
        <form [formGroup]="provider_addForm" novalidate>

            
			<div class="form-group">
                <label class="col-md-4">provider_id</label>
                <input type="text" class="form-control" formControlName="provider_id" #provider_id />
            </div>
            <div *ngIf="provider_addForm.controls['provider_id'].invalid && (provider_addForm.controls['provider_id'].dirty || provider_addForm.controls['provider_id'].touched)" class="alert alert-danger">
                <div *ngIf="provider_addForm.controls['provider_id'].errors.required">
                    Please Enter the provider_id
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">social_reason</label>
                <input type="text" class="form-control" formControlName="social_reason" #social_reason />
            </div>
            <div *ngIf="provider_addForm.controls['social_reason'].invalid && (provider_addForm.controls['social_reason'].dirty || provider_addForm.controls['social_reason'].touched)" class="alert alert-danger">
                <div *ngIf="provider_addForm.controls['social_reason'].errors.required">
                    Please Enter the social_reason
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">adress</label>
                <input type="text" class="form-control" formControlName="adress" #adress />
            </div>
            <div *ngIf="provider_addForm.controls['adress'].invalid && (provider_addForm.controls['adress'].dirty || provider_addForm.controls['adress'].touched)" class="alert alert-danger">
                <div *ngIf="provider_addForm.controls['adress'].errors.required">
                    Please Enter the adress
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">telephone</label>
                <input type="text" class="form-control" formControlName="telephone" #telephone />
            </div>
            <div *ngIf="provider_addForm.controls['telephone'].invalid && (provider_addForm.controls['telephone'].dirty || provider_addForm.controls['telephone'].touched)" class="alert alert-danger">
                <div *ngIf="provider_addForm.controls['telephone'].errors.required">
                    Please Enter the telephone
                </div>
            </div>


          
            <div class="form-group">
                <button class="btn btn-primary" (click)="addProvider( provider_id.value,social_reason.value,adress.value,telephone.value )" [disabled]="!provider_addForm.valid || provider_addForm.pristine">Add Provider</button>
            </div>
        </form>
    </div>
</div>

