
<div class="card">
    <div class="card-body">
        <form [formGroup]="sale_cart_editForm" novalidate>
			
			
			
			<div class="form-group">
                <label class="col-md-4">receipt_sale</label>
                <input type="text" class="form-control" formControlName="receipt_sale" #receipt_sale [(ngModel)]="sale_cart.receipt_sale" />
            </div>
            <div *ngIf="sale_cart_editForm.controls['receipt_sale'].invalid && (sale_cart_editForm.controls['receipt_sale'].dirty || sale_cart_editForm.controls['receipt_sale'].touched)" class="alert alert-danger">
                <div *ngIf="sale_cart_editForm.controls['receipt_sale'].errors.required">
                    receipt_sale is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">seller_id</label>
                <input type="text" class="form-control" formControlName="seller_id" #seller_id [(ngModel)]="sale_cart.seller_id" />
            </div>
            <div *ngIf="sale_cart_editForm.controls['seller_id'].invalid && (sale_cart_editForm.controls['seller_id'].dirty || sale_cart_editForm.controls['seller_id'].touched)" class="alert alert-danger">
                <div *ngIf="sale_cart_editForm.controls['seller_id'].errors.required">
                    seller_id is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">invoice_id</label>
                <input type="text" class="form-control" formControlName="invoice_id" #invoice_id [(ngModel)]="sale_cart.invoice_id" />
            </div>
            <div *ngIf="sale_cart_editForm.controls['invoice_id'].invalid && (sale_cart_editForm.controls['invoice_id'].dirty || sale_cart_editForm.controls['invoice_id'].touched)" class="alert alert-danger">
                <div *ngIf="sale_cart_editForm.controls['invoice_id'].errors.required">
                    invoice_id is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">sale_date</label>
                <input type="text" class="form-control" formControlName="sale_date" #sale_date [(ngModel)]="sale_cart.sale_date" />
            </div>
            <div *ngIf="sale_cart_editForm.controls['sale_date'].invalid && (sale_cart_editForm.controls['sale_date'].dirty || sale_cart_editForm.controls['sale_date'].touched)" class="alert alert-danger">
                <div *ngIf="sale_cart_editForm.controls['sale_date'].errors.required">
                    sale_date is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">sale_value</label>
                <input type="text" class="form-control" formControlName="sale_value" #sale_value [(ngModel)]="sale_cart.sale_value" />
            </div>
            <div *ngIf="sale_cart_editForm.controls['sale_value'].invalid && (sale_cart_editForm.controls['sale_value'].dirty || sale_cart_editForm.controls['sale_value'].touched)" class="alert alert-danger">
                <div *ngIf="sale_cart_editForm.controls['sale_value'].errors.required">
                    sale_value is required.
                </div>
            </div>



            <div class="form-group">
                <button type="button" (click)="updateSale_cart(receipt_sale.value,seller_id.value,invoice_id.value,sale_date.value,sale_value.value)" [disabled]="sale_cart_editForm.invalid"
                    class="btn btn-primary">Update Sale_cart</button>
            </div>
        </form>
    </div>
</div>



