
<div class="card">
    <div class="card-body">
        <form [formGroup]="machine_editForm" novalidate>
			
			
			
			<div class="form-group">
                <label class="col-md-4">serial</label>
                <input type="text" class="form-control" formControlName="serial" #serial [(ngModel)]="machine.serial" />
            </div>
            <div *ngIf="machine_editForm.controls['serial'].invalid && (machine_editForm.controls['serial'].dirty || machine_editForm.controls['serial'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['serial'].errors.required">
                    serial is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">brand</label>
                <input type="text" class="form-control" formControlName="brand" #brand [(ngModel)]="machine.brand" />
            </div>
            <div *ngIf="machine_editForm.controls['brand'].invalid && (machine_editForm.controls['brand'].dirty || machine_editForm.controls['brand'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['brand'].errors.required">
                    brand is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">model</label>
                <input type="text" class="form-control" formControlName="model" #model [(ngModel)]="machine.model" />
            </div>
            <div *ngIf="machine_editForm.controls['model'].invalid && (machine_editForm.controls['model'].dirty || machine_editForm.controls['model'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['model'].errors.required">
                    model is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">ubication</label>
                <input type="text" class="form-control" formControlName="ubication" #ubication [(ngModel)]="machine.ubication" />
            </div>
            <div *ngIf="machine_editForm.controls['ubication'].invalid && (machine_editForm.controls['ubication'].dirty || machine_editForm.controls['ubication'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['ubication'].errors.required">
                    ubication is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">price_shopping</label>
                <input type="text" class="form-control" formControlName="price_shopping" #price_shopping [(ngModel)]="machine.price_shopping" />
            </div>
            <div *ngIf="machine_editForm.controls['price_shopping'].invalid && (machine_editForm.controls['price_shopping'].dirty || machine_editForm.controls['price_shopping'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['price_shopping'].errors.required">
                    price_shopping is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">receipt_shopping</label>
                <input type="text" class="form-control" formControlName="receipt_shopping" #receipt_shopping [(ngModel)]="machine.receipt_shopping" />
            </div>
            <div *ngIf="machine_editForm.controls['receipt_shopping'].invalid && (machine_editForm.controls['receipt_shopping'].dirty || machine_editForm.controls['receipt_shopping'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['receipt_shopping'].errors.required">
                    receipt_shopping is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">creation_date</label>
                <input type="text" class="form-control" formControlName="creation_date" #creation_date [(ngModel)]="machine.creation_date" />
            </div>
            <div *ngIf="machine_editForm.controls['creation_date'].invalid && (machine_editForm.controls['creation_date'].dirty || machine_editForm.controls['creation_date'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['creation_date'].errors.required">
                    creation_date is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">sale_date</label>
                <input type="text" class="form-control" formControlName="sale_date" #sale_date [(ngModel)]="machine.sale_date" />
            </div>
            <div *ngIf="machine_editForm.controls['sale_date'].invalid && (machine_editForm.controls['sale_date'].dirty || machine_editForm.controls['sale_date'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['sale_date'].errors.required">
                    sale_date is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">seller_id</label>
                <input type="text" class="form-control" formControlName="seller_id" #seller_id [(ngModel)]="machine.seller_id" />
            </div>
            <div *ngIf="machine_editForm.controls['seller_id'].invalid && (machine_editForm.controls['seller_id'].dirty || machine_editForm.controls['seller_id'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['seller_id'].errors.required">
                    seller_id is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">receipt_sale</label>
                <input type="text" class="form-control" formControlName="receipt_sale" #receipt_sale [(ngModel)]="machine.receipt_sale" />
            </div>
            <div *ngIf="machine_editForm.controls['receipt_sale'].invalid && (machine_editForm.controls['receipt_sale'].dirty || machine_editForm.controls['receipt_sale'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['receipt_sale'].errors.required">
                    receipt_sale is required.
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">state</label>
                <input type="text" class="form-control" formControlName="state" #state [(ngModel)]="machine.state" />
            </div>
            <div *ngIf="machine_editForm.controls['state'].invalid && (machine_editForm.controls['state'].dirty || machine_editForm.controls['state'].touched)" class="alert alert-danger">
                <div *ngIf="machine_editForm.controls['state'].errors.required">
                    state is required.
                </div>
            </div>



            <div class="form-group">
                <button type="button" (click)="updateMachine(serial.value,brand.value,model.value,ubication.value,price_shopping.value,receipt_shopping.value,creation_date.value,sale_date.value,seller_id.value,receipt_sale.value,state.value)" [disabled]="machine_editForm.invalid"
                    class="btn btn-primary">Update Machine</button>
            </div>
        </form>
    </div>
</div>



