
<div class="card">
    <div class="card-body">
        <form [formGroup]="invoice_addForm" novalidate>

            
			<div class="form-group">
                <label class="col-md-4">invoice_id</label>
                <input type="text" class="form-control" formControlName="invoice_id" #invoice_id />
            </div>
            <div *ngIf="invoice_addForm.controls['invoice_id'].invalid && (invoice_addForm.controls['invoice_id'].dirty || invoice_addForm.controls['invoice_id'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['invoice_id'].errors.required">
                    Please Enter the invoice_id
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">seller_id</label>
                <input type="text" class="form-control" formControlName="seller_id" #seller_id />
            </div>
            <div *ngIf="invoice_addForm.controls['seller_id'].invalid && (invoice_addForm.controls['seller_id'].dirty || invoice_addForm.controls['seller_id'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['seller_id'].errors.required">
                    Please Enter the seller_id
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">receipt_sale</label>
                <input type="text" class="form-control" formControlName="receipt_sale" #receipt_sale />
            </div>
            <div *ngIf="invoice_addForm.controls['receipt_sale'].invalid && (invoice_addForm.controls['receipt_sale'].dirty || invoice_addForm.controls['receipt_sale'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['receipt_sale'].errors.required">
                    Please Enter the receipt_sale
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">value</label>
                <input type="text" class="form-control" formControlName="value" #value />
            </div>
            <div *ngIf="invoice_addForm.controls['value'].invalid && (invoice_addForm.controls['value'].dirty || invoice_addForm.controls['value'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['value'].errors.required">
                    Please Enter the value
                </div>
            </div>

			<div class="form-group">
                <label class="col-md-4">date</label>
                <input type="text" class="form-control" formControlName="date" #date />
            </div>
            <div *ngIf="invoice_addForm.controls['date'].invalid && (invoice_addForm.controls['date'].dirty || invoice_addForm.controls['date'].touched)" class="alert alert-danger">
                <div *ngIf="invoice_addForm.controls['date'].errors.required">
                    Please Enter the date
                </div>
            </div>


          
            <div class="form-group">
                <button class="btn btn-primary" (click)="addInvoice( invoice_id.value,seller_id.value,receipt_sale.value,value.value,date.value )" [disabled]="!invoice_addForm.valid || invoice_addForm.pristine">Add Invoice</button>
            </div>
        </form>
    </div>
</div>

