<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">PROFILE</h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <td>Identification Number</td>
                <td>{{ details?.employee_id }}</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ details?.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ details?.last_name }}</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>{{ details?.role }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ details?.username }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ details?.password }}</td>
            </tr>
        </table>
    </div>
</div>